
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='/streaming/css/home.css') }}">
    <script src="{{ url_for('static', filename='/streaming/js/home.js') }}"></script>
    <!-- <script src="./js/save.js"></script> -->
</head>
<section>
    <h1>Speech<br> Recognition</h1>
    <p>Available In Chrome😎 Only</p>
    <button class="custom-button" id="stopBtn">Stop</button>
    <p></p>
    <div class="container">
        <div class="texts">
        </div>
    </div>
</section>

<script>

</script>