<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    

        <!-- Speech SDK reference sdk. -->
        <script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='/azure/css/home.css') }}">
        <!-- Speech SDK USAGE -->
        <script src="{{ url_for('static', filename='/azure/js/translation.js') }}"></script>
        <script src="{{ url_for('static', filename='/azure/js/voiceToText.js') }}"></script>

    </head>
    <body>
        <h2>Tabs</h2>
        <p>Click on the buttons inside the tabbed menu:</p>
        <button id="get-access">Get access to camera</button>
        <button id="record-data">record-Data</button>

        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Translation')">Translation</button>
            <button class="tablinks" onclick="openCity(event, 'VoiceToText')">Text</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
        </div>
        <div id="Translation" class="tabcontent">
            <!-- microphone -->
            <div id="translation_microphone" style="display:none">
                <table width="100%">
                    <tr>
                        <td></td>
                        <td><h1 style="font-weight:500;">Translation form microphone</h1></td>
                    </tr>
                    <tr>
                        <td align="right">Source Language</td>
                        <td><select id="micorphone_languageSourceOptions">
                        <option value="ar-EG">Arabic - EG</option>
                        <option value="de-DE">German - DE</option>
                        <option selected="selected" value="en-US">English - US</option>
                        <option value="es-ES">Spanish - ES</option>
                        <option value="fi-FI">Finnish - FI</option>
                        <option value="fr-FR">French - FR</option>
                        <option value="hi-IN">Hindi - IN</option>
                        <option value="it-IT">Italian - IT</option>
                        <option value="ja-JP">Japanese - JP</option>
                        <option value="ko-KR">Korean - KR</option>
                        <option value="pl-PL">Polish - PL</option>
                        <option value="pt-BR">Portuguese - BR</option>
                        <option value="ru-RU">Russian - RU</option>
                        <option value="sv-SE">Swedish - SE</option>
                        <option value="zh-CN">Chinese - Simplified</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td align="right">Target Language 1</td>
                        <td><select id="micorphone_languageTargetOptions1">
                        <option value="ar">Arabic</option>
                        <option value="de">German</option>
                        <option selected="selected" value="en">English</option>
                        <option value="es">Spanish</option>
                        <option value="fi">Finnish</option>
                        <option value="fr">French</option>
                        <option value="hi">Hindi</option>
                        <option value="it">Italian</option>
                        <option value="ja">Japanese</option>
                        <option value="ko">Korean</option>
                        <option value="pl">Polish</option>
                        <option value="pt">Portuguese</option>
                        <option value="ru">Russian</option>
                        <option value="sv">Swedish</option>
                        <option value="zh-Hans">Chinese - Simplified</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td align="right">Target Language 2</td>
                        <td><select id="micorphone_languageTargetOptions2">
                        <option value="ar">Arabic</option>
                        <option value="de">German</option>
                        <option value="en">English</option>
                        <option value="es">Spanish</option>
                        <option value="fi">Finnish</option>
                        <option value="fr">French</option>
                        <option value="hi">Hindi</option>
                        <option value="it">Italian</option>
                        <option value="ja">Japanese</option>
                        <option value="ko">Korean</option>
                        <option value="pl">Polish</option>
                        <option value="pt">Portuguese</option>
                        <option value="ru">Russian</option>
                        <option value="sv">Swedish</option>
                        <option selected="selected" value="zh-Hans">Chinese - Simplified</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button id="microphone_startRecognizeOnceAsyncButton">Start recognition</button></td>
                    </tr>
                    <tr>
                        <td align="right" valign="top">Language 1 Translation</td>
                        <td><textarea id="micorphone_phraseDiv1" style="display: inline-block;width:500px;height:150px"></textarea></td>
                    </tr>
                    <tr>
                        <td align="right" valign="top">Language 2 Translation</td>
                        <td><textarea id="micorphone_phraseDiv2" style="display: inline-block;width:500px;height:150px"></textarea></td>
                    </tr>
                </table>
            </div>

            <!-- file -->
            <div id="translation_file" style="display:none">
                <table width="100%">
                    <tr>
                        <td></td>
                        <td><h1 style="font-weight:500;">Translation form file</h1></td>
                    </tr>
                    <tr>
                        <td align="right">Source Language</td>
                        <td><select id="file_languageSourceOptions">
                        <option value="ar-EG">Arabic - EG</option>
                        <option value="de-DE">German - DE</option>
                        <option selected="selected" value="en-US">English - US</option>
                        <option value="es-ES">Spanish - ES</option>
                        <option value="fi-FI">Finnish - FI</option>
                        <option value="fr-FR">French - FR</option>
                        <option value="hi-IN">Hindi - IN</option>
                        <option value="it-IT">Italian - IT</option>
                        <option value="ja-JP">Japanese - JP</option>
                        <option value="ko-KR">Korean - KR</option>
                        <option value="pl-PL">Polish - PL</option>
                        <option value="pt-BR">Portuguese - BR</option>
                        <option value="ru-RU">Russian - RU</option>
                        <option value="sv-SE">Swedish - SE</option>
                        <option value="zh-CN">Chinese - Simplified</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td align="right">Target Language 1</td>
                        <td><select id="file_languageTargetOptions1">
                        <option value="ar">Arabic</option>
                        <option value="de">German</option>
                        <option selected="selected" value="en">English</option>
                        <option value="es">Spanish</option>
                        <option value="fi">Finnish</option>
                        <option value="fr">French</option>
                        <option value="hi">Hindi</option>
                        <option value="it">Italian</option>
                        <option value="ja">Japanese</option>
                        <option value="ko">Korean</option>
                        <option value="pl">Polish</option>
                        <option value="pt">Portuguese</option>
                        <option value="ru">Russian</option>
                        <option value="sv">Swedish</option>
                        <option value="zh-Hans">Chinese - Simplified</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td align="right">Target Language 2</td>
                        <td><select id="file_languageTargetOptions2">
                        <option value="ar">Arabic</option>
                        <option value="de">German</option>
                        <option value="en">English</option>
                        <option value="es">Spanish</option>
                        <option value="fi">Finnish</option>
                        <option value="fr">French</option>
                        <option value="hi">Hindi</option>
                        <option value="it">Italian</option>
                        <option value="ja">Japanese</option>
                        <option value="ko">Korean</option>
                        <option value="pl">Polish</option>
                        <option value="pt">Portuguese</option>
                        <option value="ru">Russian</option>
                        <option value="sv">Swedish</option>
                        <option selected="selected" value="zh-Hans">Chinese - Simplified</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td align="right">File to Recognize</td>
                        <td>
                        <input type="file" id="translation_filePicker" accept=".wav" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button id="file_startRecognizeOnceAsyncButton">Start recognition</button></td>
                    </tr>
                    <tr>
                    <tr>
                        <td align="right" valign="top">Language 1 Translation</td>
                        <td><textarea id="file_phraseDiv1" style="display: inline-block;width:500px;height:150px"></textarea></td>
                    </tr>
                    <tr>
                        <td align="right" valign="top">Language 2 Translation</td>
                        <td><textarea id="file_phraseDiv2" style="display: inline-block;width:500px;height:150px"></textarea></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="VoiceToText" class="tabcontent">
            <div id="VoiceToText_microphone" style="display:none">
                <table width="100%">
                    <tr>
                    <td></td>
                    <td><h1 style="font-weight:500;">VoiceToText from microphone</h1></td>
                    </tr>
                    <tr>
                        <td align="right">Language</td>
                        <td><select id="VoiceToText_microphone_language">
                        <option value="ar-EG">Arabic - EG</option>
                        <option value="de-DE">German - DE</option>
                        <option selected="selected" value="en-US">English - US</option>
                        <option value="es-ES">Spanish - ES</option>
                        <option value="fi-FI">Finnish - FI</option>
                        <option value="fr-FR">French - FR</option>
                        <option value="hi-IN">Hindi - IN</option>
                        <option value="it-IT">Italian - IT</option>
                        <option value="ja-JP">Japanese - JP</option>
                        <option value="ko-KR">Korean - KR</option>
                        <option value="pl-PL">Polish - PL</option>
                        <option value="pt-BR">Portuguese - BR</option>
                        <option value="ru-RU">Russian - RU</option>
                        <option value="sv-SE">Swedish - SE</option>
                        <option value="zh-CN">Chinese - Simplified</option>
                        </select></td>
                    </tr>
                    <tr>
                    <td></td>
                    <td><button id="VoiceToText_microphone_startRecognizeOnceAsyncButton">Start recognition</button></td>
                    </tr>
                    <tr>
                    <td align="right" valign="top">Results</td>
                    <td><textarea id="VoiceToText_microphone_phraseDiv" style="display: inline-block;width:500px;height:200px"></textarea></td>
                    </tr>
                </table>
            </div>
            <div id="VoiceToText_file" style="display:none">
                <table width="100%">
                    <tr>
                    <td></td>
                    <td><h1 style="font-weight:500;">VoiceToText from file</h1></td>
                    </tr>
                    <tr>
                        <td align="right">Language</td>
                        <td><select id="VoiceToText_file_language">
                        <option value="ar-EG">Arabic - EG</option>
                        <option value="de-DE">German - DE</option>
                        <option selected="selected" value="en-US">English - US</option>
                        <option value="es-ES">Spanish - ES</option>
                        <option value="fi-FI">Finnish - FI</option>
                        <option value="fr-FR">French - FR</option>
                        <option value="hi-IN">Hindi - IN</option>
                        <option value="it-IT">Italian - IT</option>
                        <option value="ja-JP">Japanese - JP</option>
                        <option value="ko-KR">Korean - KR</option>
                        <option value="pl-PL">Polish - PL</option>
                        <option value="pt-BR">Portuguese - BR</option>
                        <option value="ru-RU">Russian - RU</option>
                        <option value="sv-SE">Swedish - SE</option>
                        <option value="zh-CN">Chinese - Simplified</option>
                        </select></td>
                    </tr>
                    <tr>
                    <td align="right">File to Recognize</td>
                    <td>
                        <input type="file" id="VoiceToText_file_filePicker" accept=".wav" />
                    </td>
                    </tr>
                    <tr>
                    <td></td>
                    <td><button id="VoiceToText_file_startRecognizeOnceAsyncButton">Start recognition</button></td>
                    </tr>
                    <tr>
                    <td align="right" valign="top">Results</td>
                    <td><textarea id="VoiceToText_file_phraseDiv" style="display: inline-block;width:500px;height:200px"></textarea></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="Tokyo" class="tabcontent">
            <h3>Tokyo</h3>
            <p>Tokyo is the capital of Japan.</p>
        </div>
        <script>
            var subscription = "d792dc5fd81240579e70cdafec3d3e5b";
            var ServiceRegion = "eastus"
            function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
            }            
        </script>
    </body>
</html>